<head>
    <link rel="stylesheet" href="/css/index.css">
</head>

@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="window announcement"> -->
<div class="button outside">
    <h1>Apasa aici pentru a cere tema cuiva!</h1>
</div>

@{ for(int i = 0; i < 3; i++) }
<div class="window">
    <!-- <a class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, quis.</a> -->
    <p><span>Cerinta</span></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui temporibus recusandae porro iste! Quibusdam laborum aliquam sit, magni impedit dolores?</p>
    
    <div class="hw-menu">
        <div>
            <p>Primul pret: <span>300 RON</span> </p>
            <p>Timp ramas: <span>3 ore</span> </p>
        </div>

        <div>
            <a class="button"> Rezolva </a>
        </div>

        
    
    </div>
    
    
</div>
